.parent-container {
  margin: auto;
}

.upper-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lower-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inside-lower-div {
  width: 200px;
  height: 300px;
  margin-top: 20px;
  border: 1px solid red;
  border-radius: 15px;
  box-shadow: 3px 3px 5px 3px rgb(214, 214, 214), 1px 1px 0px 0px gray;
  border-collapse: collapse;
}

.bg-for-plus {
  width: 48px;
  height: 48px;
  background-color: red;
  border-radius: 50%;
}

#bar {
  align-items: center;
  width: 80%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  border: none;
  cursor: default;
  filter: blur(4px);
  z-index: 0;
}

#foo {
  margin: auto;
  margin-top: 15%;
  background-color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  display: flex;
  width: 500px;
  height: 200px;
  border: 1px solid red;
  border-radius: 20px;
  color: red;
  position: relative;
  z-index: 10;
}

.input-box {
  height: 40px;
  width: 400px;
  border: 1px solid red;
  border-radius: 10px;
}

.mybutton:hover {
  background-color: brown;
  height: 50px;
  width: 150px;
}
